<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Mi App</title>
</head>

<body>
  <header>
    <h1>Mi App</h1>
    <nav>
      <a href="/">inicio</a>
      <a href="/login">login</a>
      <a href="/signup">signup</a>
    </nav>
  </header>
  <main>
    <h2>Signup</h2>
    <form action="/signup" method="post">
      <div>
        <label for="email">Email</label>
        <input type="email" name="email" />
      </div>
      <div>
        <label for="password">Password</label>
        <input type="password" name="password" />
      </div>
      <button>enviar</button>
    </form>
  </main>
</body>

</html>